* {
    box-sizing: border-box;
}

:root {
    --spacing: 5px;
}

body {
    /* background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky-sea_74190-4488.jpg?w=2000); */
    background-image: url(./images/weather.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.jumbotron {
    text-align: center;
    /* background-image: url(https://images.ctfassets.net/hrltx12pl8hq/6TIZLa1AKeBel0yVO7ReIn/1fc0e2fd9fcc6d66b3cc733aa2547e11/weather-images.jpg?fit=fill&w=800&h=300);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    border-radius: 0;
    border-bottom: 5px solid black;
    padding: 20px;
}

.title, .lead {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 40px;
}

.title {
    font-size: 60px;
}

dt {
    float: left;
    margin-right: var(--spacing);
    color: aliceblue;
}

dd {
    color: aliceblue;
}

#search-title, #forecast-title {
    color: aliceblue;
}

button {
    text-transform: capitalize;
}

.btn {
    margin: 2px;
}

#weather-day-container {
    min-height: 230px;
    border: 1px solid gray;
}

#weather-day-city, #weather-day-date {
    color: aliceblue;
}

#search-bar-container, input, #button-container button {
    margin-bottom: var(--spacing);
}

#button-container {
    padding-top: var(--spacing);
    border-top: 2px solid gray;
}

#weather-day-uv-index {
    max-width: 25%;
    padding: 2px;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}

.hide {
    display: none;
}