* {
    box-sizing: border-box;
}

:root {
    --spacing: 10px;
}

body {
    background-color: rgb(138, 215, 253);
}

.jumbotron {
    text-align: center;
    background: radial-gradient(circle, rgb(101, 206, 247) 0%, rgb(0, 144, 206) 100% );
    color: black;
    border-radius: 0;
    border-bottom: 5px solid black;
    padding: 20px;
}

.title, .lead {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 40px;
}

.title {
    font-size: 60px;
}

dt {
    float: left;
    margin-right: var(--spacing);
}

button {
    text-transform: capitalize;
}

#weather-day-container {
    min-height: 230px;
    border: 1px solid gray;
}

#search-bar-container, input, #button-container button {
    margin-bottom: var(--spacing);
}

#button-container {
    padding-top: var(--spacing);
    border-top: 2px solid gray;
}

#weather-day-uv-index {
    padding: 2px;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}

.hide {
    display: none;
}